* {
  margin: 0;
}
html,
body {
  --grey: hsl(240, 9%, 89%);
  --pink: hsl(327, 100%, 50%);
  --yellow: hsl(47, 100%, 56%);
  --green: hsl(147, 100%, 56%);
  --blue: hsl(217, 90%, 60%);

  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  width: 375px;
  height: 812px;
  background: url("https://gist.githubusercontent.com/SousaPedro11/cc55ff6e5e134ce6f8a8515b0b02d740/raw/ad18490fb965e566a391765206c3b662579f449f/background.svg?sanitize=true");
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

#name {
  /* background: linear-gradient(60deg, #ff008e, #ffcd1e, #23a6d5, #23d591); */
  background: linear-gradient(
    60deg,
    var(--pink),
    var(--yellow),
    var(--blue),
    var(--green)
  );
  text-decoration: underline;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
  background-size: 400% 200%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
