* {
  margin: 0;
}
html,
body {
  --grey: hsl(240, 9%, 89%);
  --pink: hsl(327, 100%, 50%);
  --yellow: hsl(47, 100%, 56%);
  --green: hsl(147, 100%, 56%);
  --blue: hsl(217, 90%, 60%);
  --black: hsl(240, 6%, 13%);
  --purple: hsl(258, 73%, 62%);

  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  position: relative;
  width: 375px;
  height: 812px;

  background: #202024;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.background-image {
  position: absolute;
  width: 375px;
  height: 694.38px;
  top: -418.1px;

  background: linear-gradient(122.5deg, var(--pink), var(--yellow));
  clip-path: polygon(0% 60.25%, 0% 84.5%, 50% 100%, 100% 84.5%, 100% 60.25%);
}

.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.yellow-hexagon {
  width: 187.5px;
  height: 214.82px;

  background: linear-gradient(
    55.21deg,
    rgba(255, 0, 140, 0.623) 9.1%,
    #ffcd1e 89.46%
  );
  background-size: 400% 200%;
  animation: gradient 5s ease infinite;
}

.purple-hexagon {
  width: 187.5px;
  height: 214.82px;

  background: linear-gradient(
    153.03deg,
    #d3227a 18.39%,
    rgba(255, 0, 142, 0) 84.08%
  );
  background-size: 400% 200%;
  animation: gradient 5s ease infinite;
}

.top-hexagon {
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  /* top: -99.45px; */
  bottom: 161px;
  left: 93.75px;
  clip-path: polygon(0% 53.69%, 100% 53.69%, 100% 25%, 50% 0%, 0% 25%);
}

.top-left-hexagon {
  position: absolute;
  transform: rotate(-180deg);
  bottom: 161px;
  clip-path: polygon(0% 53.69%, 100% 53.69%, 100% 25%, 50% 0%, 0% 25%);
}
.top-right-hexagon {
  position: absolute;
  transform: matrix(1, 0, 0, -1, 0, 0);
  bottom: 161px;
  left: 187.4px;
  clip-path: polygon(0% 53.69%, 100% 53.69%, 100% 25%, 50% 0%, 0% 25%);
}

.bottom-left-hexagon {
  position: absolute;
  transform: rotate(-180deg);
  bottom: 53.91px;
}

.bottom-right-hexagon {
  position: absolute;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  left: 187.5px;
  bottom: 53.91px;
}

.bottom-hexagon {
  position: absolute;
  left: 93.75px;
  bottom: 0px;
}

.degrade1 {
  position: absolute;
  width: 600px;
  height: 600px;
  top: -300px;
  left: 25px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffc323 0%,
    rgba(18, 18, 20, 0) 100%
  );
  transform: rotate(-180deg);
}

.degrade2 {
  position: absolute;
  width: 600px;
  height: 600px;
  top: -300px;
  left: -245px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #ff3d6e 0%,
    rgba(18, 18, 20, 0) 100%
  );
  transform: rotate(-180deg);
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 10.3rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

a:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

#userName {
  /* background: linear-gradient(60deg, #ff008e, #ffcd1e, #23a6d5, #23d591); */
  background: linear-gradient(
    60deg,
    var(--pink),
    var(--yellow),
    var(--blue),
    var(--green)
  );
  text-decoration: underline;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
  background-size: 400% 200%;
  animation: gradient 5s ease infinite;
}

#selo {
  -webkit-animation: rotate 20s alternate ease infinite;
  animation: rotate 20s alternate ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
